html {
    box-sizing: unset !important;
}

body {
    background-color: #f4f4f4 !important;
}

body, form-control {
    font-size: 0.9rem;
}

a, a:hover {
    text-decoration: none;
}

.navbar .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu{position:static!important;}
    .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
        overflow-y: auto;
        max-height: 90vh;
        margin-top:10px;
    }
}
/* ============ mobile view .end// ============ */

h1,h2,h3,h4,h5,h6 {
    color: #555a5f;
    text-transform: capitalize;
}

p {
    color: #787d82;
}

a {
    color: #7796a8;
}

.logo-custom{
    text-align: center;
}

.hidden_msg {
    font-size: 10px;
    color: #aa1111;
    font-style: italic;
    display: none;
    margin-top: 5px;
}

.hidden {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.form-control {
    color: #464646cc;
}

.radio-label {
    margin-top: 10px;
}

.radio-text {
    color: #464646cc !important;
    font-size: 1rem !important;
}

.form-control:focus {
    border: solid 1px #7796a8;
    outline: none;
    box-shadow: none;
}

.input-group-text {
    color: #666666;
}

.bg-primary, .btn-check:focus+.btn-primary, .btn-primary:focus, .btn-primary:active, .show>.btn-primary.dropdown-toggle,
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active {
    background: #7796a8 !important;
}

label {
    color: #82898f;
    font-size: 12px;
}

.info {
    color: #82898f;
    font-size: 14px;
}

.btn-primary:hover {
    background: #9ed4d9 !important;
    border-color: #9ed4d9 !important;
}

.users-flash {
    position:fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index:9999;
    border-radius:0px;
}

.flash-close {
    position: absolute;
    right: 12px;
    top: 16px;
    cursor: pointer;
}

.dropdown-item {
    color: #8b8b8b;
}

.dropdown-item:hover {
    color: #7796a8!important;
}

.dropdown-item:active {
    background: #7796a8!important;
    color: #fff;
}

#product_list{
    list-style:none;
    margin-top:-3px;
    padding:0;
    width:100%;
    position: absolute;
    left: 0;
    right: 0;
}

#product_list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}

#product_list li:hover{background:#f1faff;cursor: pointer;}

#suggestion_field {
    position: relative;
}

#distributor_products_form_taxExempt_0 {
    margin-right: 8px
}

#distributor_products_form_taxExempt_1 {
    margin-left: 8px;
    margin-right: 8px
}

.radio {
    color: #000;
}

.species-checkbox {
    position: absolute;
    left:5px;
    top:5px;
    z-index: -1;
    display: none;
}

.species-icon {
    font-size: 70px;
}

.list-width {
    width: calc(100% - 24px);
}

.t-header {
    background: #e3e5e6;
    color: #40525b;
    padding: 8px;
}

.t-cell {
    padding: 8px;
    color: #464646cc;
}

.t-row-header {
    margin-left: 2px;
    margin-right: 2px;
}

.t-row {
    border-bottom: solid 1px #d3d3d4;
    background: #f8f8f8;
    border-left: solid 1px #d3d3d4;
    border-right: solid 1px #d3d3d4;
}

.t-row:hover {
    background: #f1faff;
}

.delete-icon {
    color: #f00000;
    margin-right: 24px;
}

.edit-icon {
    margin-right: 16px;
}

.is-default-address-icon {
    color: #eab308;
    margin-right: 24px;
}

.address-icon {
    color: #d5d5d6;
    margin-right: 24px;
}

.btn-primary:disabled {
    color: #414d54;
    background-color: #9ed4d9;
    border-color: #9ed4d9;
}

.btn-primary {
    background: #7796a8;
    border-color: #7796a8;
    color: #fff;
}

.btn-secondary {
    background: #9ed4d9;
    border-color: #9ed4d9;
    color: #fff;
}

.btn-secondary:hover {
    background: #7796a8!important;
    border-color: #7796a8!important;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    box-shadow: none;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #7796a8;
    border-color: #7796a8;
}

.form-check-input:focus {
    border-color: #7796a8;
    outline: 0;
    box-shadow: none;
}

.img-icon {
    font-size: 40px;
    color: #7796a8;
    margin-top: 19px;
}

.prd-img {
    max-height: 100px;
}

.prd-container {
    border: 1px solid #e2e7eb;
    padding-: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
}

.prd-container:hover {
    box-shadow: -5px 6px 19px -2px rgba(156,156,156,0.75);
    -webkit-box-shadow: -5px 6px 19px -2px rgba(156,156,156,0.75);
    -moz-box-shadow: -5px 6px 19px -2px rgba(156,156,156,0.75);
}

.bg-grey {
    background: #f9fafb;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 20px;
}

.star-under {
    color: #ddd;
}

.star-over {
    color: #9ed4d9;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.star-visible {
    display: inline-block;
}

.search-panels-header {
    border-top: 1px dashed #e2e7eb;
    justify-self: flex-start;
    padding-top: 6px;
    padding-bottom: 6px;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.search-panels-container {
    justify-self: flex-start;
    padding-top: 6px;
    padding-bottom: 6px;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    border-top: 1px solid #e2e7eb;
}

.search-result-distributors {
    background: #fcfdfd;
    border-left: 1px solid #e2e7eb;
}

.card {
    background: transparent;
    border: none;
}

.btn-check:focus+.btn-light, .btn-light:focus  {
    box-shadow: none !important;
}

.btn-check:active+.btn-light:focus, .btn-check:checked+.btn-light:focus, .btn-check:focus+.btn-light, .btn-light.active:focus, .btn-light:active:focus, .btn-light:focus, .show>.btn-light.dropdown-toggle:focus {
    outline: 0;
    box-shadow: none;
}
.btn-check:focus+.btn-light, .btn-light:focus {
    outline: 0;
    box-shadow: none;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-check:focus+.btn-light, .btn-light:focus {
    color: #82898f;
}

.btn-light:hover {
    color: #7796a8;
}

.active {
    color: #7796a8 !important;
}

.info[aria-expanded=true] {
    color: #7796a8;
}

.mh-30 {
    max-height: 30px !important;
}

.distributor-store-row {
    border-bottom: 1px solid #e6e6e6;
}

.list-icon {
    font-size: 30px;
}

.list-icon-checked {
    color: #9ed4d9;
}

.list-icon-unchecked {
    color: #ccc;
}

.list-copy-row {
    line-height: 30px;
}
