{% extends 'layout_clinic.html.twig' %}

{% block meta_title %}TVG Inventory Search{% endblock %}

{% block meta_decription %}
    <meta name="description" content="">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">

            </div>
        </div>
    </div>
{% endblock %}