<style>
    .chart {
        width: 100%;
        min-height: 450px;
    }
    .row {
        margin:0 !important;
    }
</style>
{% if access_granted == true %}
<div class="row">
    <div class="col-12 col-sm-6 col-md-4">
        <div id="pie_chart" class="chart border-left border-right border-top border-bottom"></div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div id="histogram" class="chart border-left border-right border-top border-bottom mt-4 mt-sm-0 mt-md-0"></div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div id="area_chart" class="chart border-left border-right border-top border-bottom mt-4 mt-sm-4 mt-md-0"></div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div id="bar_chart" class="chart border-left border-right border-top border-bottom mt-4"></div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div id="column_chart" class="chart border-left border-right border-top border-bottom mt-4"></div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div id="line_chart" class="chart border-left border-right border-top border-bottom mt-4"></div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div id="geo_chart" class="chart border-left border-right border-top border-bottom mt-4"></div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div id="combo_chart" class="chart border-left border-right border-top border-bottom mt-4"></div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div id="candle_chart" class="chart border-left border-right border-top border-bottom mt-4"></div>
    </div>
</div>
{% else %}
    <div class="row mt-3 mt-md-5">
        <div class="col-12 text-center mt-5">
            <i class="fa-solid fa-ban pe-2" style="font-size: 30vh; margin-bottom: 30px; color: #CCC;text-align: center"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Access Denied</h1>

            <p class="mt-4">
                Your user account does not have permission to view the requested page.
            </p>
        </div>
    </div>
{% endif %}

<script>

    {% if access_granted == true %}
    {{ gc_draw([
        pieChart,
        histogram,
        areaChart,
        barChart,
        columnChart,
        lineChart,
        geoChart,
        comboChart,
        candleChart
    ], [
        'pie_chart',
        'histogram',
        'area_chart',
        'bar_chart',
        'column_chart',
        'line_chart',
        'geo_chart',
        'combo_chart',
        'candle_chart',

    ]) }}

    {% endif %}

</script>
