{% extends 'base.html.twig' %}

{% block title %}Hello DistributorsController!{% endblock %}

{% block body %}
<form name="register_form" id="register_form" method="post">
    <div class="container">
        <div class="row pt-3">
            <div class="col-12 bg-primary bg-gradient text-center mt-1 mt-sm-5 pt-3 pb-3" id="order_header">
                <h4 class="text-white">Let's Create Your Account.</h4>
                <span class="text-white">
                    Signing up for your Fluid is fast and free - be up and running in under a minute.
                </span>
            </div>
        </div>
        <div class="row pb-3 bg-light border-left border-right pt-3">
            <input type="checkbox" name="call_back_form[contact_me_by_fax_only]" value="1" tabindex="-1" class="hidden" autocomplete="off">
            {# First Name #}
            <div class="col-12 col-sm-3">
                <label>First Name*</label>
                <input type="text" name="firstName" id="first_name" class="form-control" placeholder="First Name">
                <div class="hidden_msg" id="error_first_name">
                    Required Field
                </div>
            </div>

            {# Last Name #}
            <div class="col-12 col-sm-3">
                <label>Last Name*</label>
                <input type="text" name="lastName" id="last_name" class="form-control" placeholder="Last Name">
                <div class="hidden_msg" id="error_last_name">
                    Required Field
                </div>
            </div>

            {# Postionn #}
            <div class="col-12 col-sm-6">
                <label>Your Position*</label>
                <input type="text" name="position" id="position" class="form-control" placeholder="Veterinarian, Office Manager, Inventory Manager, .etc">
                <div class="hidden_msg" id="error_position">
                    Required Field
                </div>
            </div>
        </div>

        <div class="row pb-3 bg-light border-left border-right">

            {# Email #}
            <div class="col-12 col-sm-6">
                <label>Enter Your Email*</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Email Address">
                <div class="hidden_msg" id="error_email">
                    Required Field
                </div>
            </div>

            {# Telephone #}
            <div class="col-12 col-sm-6">
                <label>Enter Your Telephone*</label>
                <input type="text" name="mobile" id="mobile" class="form-control" placeholder="Telephone*">
                <input type="hidden" value="0" name="telephone" id="telephone">
                <div class="hidden_msg" id="error_telephone">
                    Required Field
                </div>
            </div>
        </div>
        <div class="row mb-3 bg-light border-left border-right border-bottom">
            {# Clinic Name #}
            <div class="col-12 col-sm-6">
                <label>Clinic Name*</label>
                <input type="text" name="clinicName" id="clinic_name" class="form-control" placeholder="Clinic Name">
                <div class="hidden_msg" id="error_clinic_name">
                    Required Field
                </div>
            </div>
            {# Telephone #}
            <div class="col-12 col-sm-6 pb-3">
                <label>Clinic Phone Number*</label>
                <input type="text" name="clinicTelephone" id="clinic_telephone" class="form-control" placeholder="Clinic Phone Number">
                <div class="hidden_msg" id="error_clinic_telephone">
                    Required Field
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ps-0 pe-0">
                <button id="form_save" type="submit" class="btn btn-primary w-100">CREATE ACCOUNT</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function (){

            // International Numbers
            let input = document.querySelector('#mobile');
            iti = window.intlTelInput(input, {
                initialCountry: "auto",
                geoIpLookup: function(success, failure) {
                    $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
                        var countryCode = (resp && resp.country) ? resp.country : "ae";
                        success(countryCode);
                    });
                },
                preferredCountries: ['ae','qa', 'bh', 'om', 'sa'],
                autoPlaceholder: "polite",
                nationalMode: true,
                utilsScript: "{{ asset('js/utils.min.js') }}", // just for formatting/placeholders etc
                separateDialCode: true,
                utilsScript: "/js/utils.js",
            });

            let handleChange = function() {
                let mobile = $('#telephone');
                let mobile_number = (iti.isValidNumber()) ? iti.getNumber() : false;
                let textNode = document.createTextNode(mobile_number);

                if(mobile_number != false){

                    mobile.val(mobile_number.substring(1));
                }
            };

            // listen to "keyup", but also "change" to update when the user selects a country
            input.addEventListener('change', handleChange);
            input.addEventListener('keyup', handleChange);

            $(document).on('change', '#email', function (){

                let email = $('#email').val();
                let error_email = $('#error_email');

                error_email.hide();

                $.ajax({
                    url: "{{ path('clinic_check_email') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        email: email
                    },
                    success: function (response) {

                        if(!response){

                            error_email.empty().append('Email is associated with another account').show();
                        }
                    }
                });
            });
            $('#register_form').submit(function(e){

                e.preventDefault();

                var is_valid = true;
                var position = $('#position').val();
                var first_name = $('#first_name').val();
                var last_name = $('#last_name').val();
                var email = $('#email').val();
                var telephone = $('#telephone').val();
                var clinic_name = $('#clinic_name').val();
                var clinic_telephone = $('#clinic_telephone').val();
                var error_position = $('#error_position');
                var error_first_name = $('#error_first_name');
                var error_last_name = $('#error_last_name');
                var error_email = $('#error_email');
                var error_telephone = $('#error_telephone');
                var error_clinic_name = $('#error_clinic_name');
                var error_clinic_telephone = $('#error_clinic_telephone')

                error_position.hide();
                error_first_name.hide();
                error_last_name.hide();
                error_email.hide();
                error_telephone.hide();
                error_clinic_name.hide();
                error_clinic_telephone.hide();

                if(position == '' || position == 'undefined'){

                    error_position.show();
                    is_valid = false;
                }

                if(first_name == '' || first_name == 'undefined'){

                    error_first_name.show();
                    is_valid = false;
                }

                if(last_name == '' || last_name == 'undefined'){

                    error_last_name.show();
                    is_valid = false;
                }

                if(email == '' || email == 'undefined'){

                    error_email.empty().append('Required Field');
                    error_email.show();
                    is_valid = false;
                }

                if(telephone == '' || telephone == 'undefined' || telephone == 0){

                    error_telephone.show();
                    is_valid = false;
                }

                if(clinic_name == '' || clinic_name == 'undefined'){

                    error_clinic_name.show();
                    is_valid = false;
                }

                if(clinic_telephone == '' || clinic_telephone == 'undefined'){

                    error_clinic_telephone.show();
                    is_valid = false;
                }

                if(is_valid == true){

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('clinic_create') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {
                            $('#register_form').empty();
                            $('#register_form').append(response);
                            $('#error_email').show();
                        }
                    });
                }
            });

        });

    </script>
{% endblock %}
