{% extends 'layout.html.twig' %}

{% block title %}Hello DistributorsController!{% endblock %}

{% block body %}
<div class="container">
    <div class="col-12 mb-3 mt-5">
        <h3>Account & Settings</h3>
    </div>
    <div class="col-12 mb-3 mt-2">
        <h5>PersonaL Information</h5>
    </div>

    <form name="register_form" id="register_form" method="post">
        <input type="checkbox" name="call_back_form[contact_me_by_fax_only]" value="1" tabindex="-1" class="hidden" autocomplete="off">

        <div class="row mb-3">

            {# First Name #}
            <div class="col-12 col-sm-3">
                <label>First Name*</label>
                <input type="text" name="firstName" id="first_name" class="form-control" placeholder="First Name">
                <div class="hidden_msg" id="error_first_name">
                    Required Field
                </div>
            </div>

            {# Last Name #}
            <div class="col-12 col-sm-3">
                <label>Last Name*</label>
                <input type="text" name="lastName" id="last_name" class="form-control" placeholder="Last Name">
                <div class="hidden_msg" id="error_last_name">
                    Required Field
                </div>
            </div>

            {# Postionn #}
            <div class="col-12 col-sm-6">
                <label>Your Position*</label>
                <input type="text" name="position" id="position" class="form-control" placeholder="Veterinarian, Office Manager, Inventory Manager, .etc">
                <div class="hidden_msg" id="error_position">
                    Required Field
                </div>
            </div>
        </div>

        <div class="row mb-3">

            {# Email #}
            <div class="col-12 col-sm-6">
                <label>Enter Your Email*</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Email Address">
                <div class="hidden_msg" id="error_email">
                    Required Field
                </div>
            </div>

            {# Telephone #}
            <div class="col-12 col-sm-6">
                <label>Enter Your Telephone*</label>
                <input type="text" name="telephone" id="telephone" class="form-control" placeholder="Telephone">
                <div class="hidden_msg" id="error_telephone">
                    Required Field
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 mb-3 mt-2">
                <h5>Clinic Information</h5>
            </div>
        </div>

        <div class="row mb-3">

            {# Clinic Name #}
            <div class="col-12 col-sm-6">
                <label>Clinic Name*</label>
                <input type="text" name="clinicName" id="clinic_name" class="form-control" placeholder="Clinic Name">
                <div class="hidden_msg" id="error_clinic_name">
                    Required Field
                </div>
            </div>

            {# Telephone #}
            <div class="col-12 col-sm-6">
                <label>Clinic Phone Number*</label>
                <input type="text" name="clinicTelephone" id="clinic_telephone" class="form-control" placeholder="Clinic Phone Number">
                <div class="hidden_msg" id="error_clinic_telephone">
                    Required Field
                </div>
            </div>
        </div>
        <button id="form_save" type="submit" class="btn btn-primary w-100">CREATE ACCOUNT</button>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function (){

            $('#register_form').submit(function(e){

                e.preventDefault();

                var is_valid = true;
                var position = $('#position').val();
                var first_name = $('#first_name').val();
                var last_name = $('#last_name').val();
                var email = $('#email').val();
                var telephone = $('#telephone').val();
                var clinic_name = $('#clinic_name').val();
                var clinic_telephone = $('#clinic_telephone').val();
                var error_position = $('#error_position');
                var error_first_name = $('#error_first_name');
                var error_last_name = $('#error_last_name');
                var error_email = $('#error_email');
                var error_telephone = $('#error_telephone');
                var error_clinic_name = $('#error_clinic_name');
                var error_clinic_telephone = $('#error_clinic_telephone')

                error_position.hide();
                error_first_name.hide();
                error_last_name.hide();
                error_email.hide();
                error_telephone.hide();
                error_clinic_name.hide();
                error_clinic_telephone.hide();

                if(position == '' || position == 'undefined'){

                    error_position.show();
                    is_valid = false;
                }

                if(first_name == '' || first_name == 'undefined'){

                    error_first_name.show();
                    is_valid = false;
                }

                if(last_name == '' || last_name == 'undefined'){

                    error_last_name.show();
                    is_valid = false;
                }

                if(email == '' || email == 'undefined'){

                    error_email.show();
                    is_valid = false;
                }

                if(telephone == '' || telephone == 'undefined'){

                    error_telephone.show();
                    is_valid = false;
                }

                if(clinic_name == '' || clinic_name == 'undefined'){

                    error_clinic_name.show();
                    is_valid = false;
                }

                if(clinic_telephone == '' || clinic_telephone == 'undefined'){

                    error_clinic_telephone.show();
                    is_valid = false;
                }

                if(is_valid == true){

                    var data = new FormData(this);

                    $.ajax({
                        url: "{{ path('clinic_create') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {
                            if(!response){

                                $('#error_email').empty();
                                $('#error_email').append('our Fluid account was successfully created, an email with your login credentials has been sent to your inbox.');
                                $('#error_email').show();
                            }
                        }
                    });
                }
            });

        });

    </script>
{% endblock %}
