{% extends 'base_distributor.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        html,body{
            width:100%;
            margin:0;
            height:100%;
            background: #fff !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid ontainer w-100 h-100">
        <div class="row align-items-center h-100">
            <div class="col-12 col-md-4 offset-xs-0 offset-md-4 text-center">
                <table class="w-100">
                    <tbody><tr>
                        <td class="text-center">
                            <table class="w-100" align="center">
                                <tbody>
                                <tr>
                                    <td>
                                        <img src="/images/logo.png" class="img-fluid mb-5" alt="Fluid" style="max-width: 250px">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h1>An Error Occured</h1>

                                        <p>
                                            {% set url = '' %}
                                            {% if type == 'clinics' %}
                                                {% set url = path('clinic_dashboard') %}
                                            {% elseif type == 'distributors' %}
                                                {% set url = path('distributor_order_list',{'distributor_id': id}) %}
                                            {% endif %}
                                            There was an loading the requested page. <a href="{{ url }}">Return to the homepage</a>.
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}