{% extends 'layout.html.twig' %}

{% block title %}Hello DistributorsController!{% endblock %}

{% block body %}
<div class="container">

    <div class="col-12 mb-3 mt-5">
        <h3>Distributor Reg</h3>
    </div>

    <form method="post" id="register_form">
        <input type="checkbox" name="contact_me_by_fax_only" value="1" tabindex="-1" class="hidden" autocomplete="off">

        <div class="row mb-3">
            <div class="col-12 col-sm-6">
                <input type="text" name="distributor_name" id="distributor_name" class="form-control" placeholder="Distributor Name*">
                <div class="hidden_msg" id="error_distributor_name">
                    Required Field
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <input type="text" name="position" id="position" class="form-control" placeholder="Position*">
                <div class="hidden_msg" id="error_position">
                    Required Field
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-sm-6">
                <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name*">
                <div class="hidden_msg" id="error_first_name">
                    Required Field
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name*">
                <div class="hidden_msg" id="error_last_name">
                    Required Field
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-sm-6">
                <input type="text" name="email" id="email" class="form-control" placeholder="Email*">
                <div class="hidden_msg" id="error_email">
                    Required Field
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <input type="text" name="telephone" id="telephone" class="form-control" placeholder="Telephone*">
                <div class="hidden_msg" id="error_telephone">
                    Required Field
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-sm-6">
                <select name="country" style="color:#b1abb0 !important" id="country" class="form-control">
                    <option value="">Country</option>
                    {% for country in countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
                <div class="hidden_msg" id="error_country">
                    Required Field
                </div>
            </div>
        </div>

        <button id="form_save" type="submit" class="btn btn-primary float-end">SUBMIT</button>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function (){

            $(document).on('click','#form_save', function (e){

                e.preventDefault();

                let is_valid = true;
                let distributor_name = $('#distributor_name').val();
                let position = $('#position').val();
                let first_name = $('#first_name').val();
                let last_name = $('#last_name').val();
                let email = $('#email').val();
                let telephone = $('#telephone').val();
                let country = $('#country').val();
                let error_distributor_name = $('#error_distributor_name');
                let error_position = $('#error_position');
                let error_first_name = $('#error_first_name');
                let error_last_name = $('#error_last_name');
                let error_email = $('#error_email');
                let error_telephone = $('#error_telephone');
                let error_country = $('#error_country');

                error_distributor_name.hide();
                error_position.hide();
                error_first_name.hide();
                error_last_name.hide();
                error_email.hide();
                error_telephone.hide();

                if(distributor_name == '' || distributor_name == 'undefined'){

                    error_distributor_name.show();
                    is_valid = false;
                }

                if(position == '' || position == 'undefined'){

                    error_position.show();
                    is_valid = false;
                }

                if(first_name == '' || first_name == 'undefined'){

                    error_first_name.show();
                    is_valid = false;
                }

                if(last_name == '' || last_name == 'undefined'){

                    error_last_name.show();
                    is_valid = false;
                }

                if(email == '' || email == 'undefined'){

                    error_email.show();
                    is_valid = false;
                }

                if(telephone == '' || telephone == 'undefined'){

                    error_telephone.show();
                    is_valid = false;
                }

                if(country == '' || country == 'undefined'){

                    error_country.show();
                    is_valid = false;
                }

                if(is_valid == true){

                    $.ajax({
                        url: "{{ path('distributor_create') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            distributor_name: distributor_name,
                            position: position,
                            first_name: first_name,
                            last_name: last_name,
                            email: email,
                            telephone: telephone,
                            country: country,
                        },
                        success: function (response) {

                            $('#register_form').empty();
                            $('#register_form').append(response);
                        }
                    });
                }
            });

        });

    </script>
{% endblock %}
